@import '../login/UserForm.scss';

.card {
    @extend .button-style;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 8px 10px;
    border-radius: 12px;

    img {
        width: 10%;
    }
}